@font-face {
    font-family: 'NR';
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');

    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'PB';
    src: url('../fonts/Play/Play-Bold.ttf');

    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'PR';
    src: url('../fonts/Play/Play-Regular.ttf');

    font-style: normal;
    font-weight: 400;
}